{% define "content" %}
      <div class="row">
        <div class="span12">
          <div class="well">
            {% template "package_table" .packages %}
          </div>
        </div>
      </div>
{% end %}
